
.container {
  text-align: center;
  width:500px;
  height: 500px;
  font-family:'Arial Narrow Bold', sans-serif;
}
h1{
  color: rgb(45, 112, 114);
  text-transform: uppercase;
}

.card__box {
  padding: 50px 10px;
  border: 10px solid #7fd8e6;
  border-radius: 12px;
  background-color: #ddf2f5;
}
.time{
  color:cadetblue;
  font-size: 50px;
  font-weight: 500;
}